body,html{
    width:100%;
    min-height:100vh;
    /* background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%,  rgba(4,189,228,1) 0%, rgba(2,83,185,1) 100.2% ); */
    /* background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%); */
    /* background-image: linear-gradient(45deg, rgba(58, 58, 197, 0.5) 0%, rgba(58, 58, 197, 0.5) 16.667%,rgba(94, 66, 189, 0.5) 16.667%, rgba(94, 66, 189, 0.5) 33.334%,rgba(130, 74, 181, 0.5) 33.334%, rgba(130, 74, 181, 0.5) 50.001%,rgba(167, 82, 173, 0.5) 50.001%, rgba(167, 82, 173, 0.5) 66.668%,rgba(203, 90, 165, 0.5) 66.668%, rgba(203, 90, 165, 0.5) 83.335%,rgba(239, 98, 157, 0.5) 83.335%, rgba(239, 98, 157, 0.5) 100.002%),linear-gradient(135deg, rgb(124, 22, 73) 0%, rgb(124, 22, 73) 16.667%,rgb(149, 30, 78) 16.667%, rgb(149, 30, 78) 33.334%,rgb(174, 38, 83) 33.334%, rgb(174, 38, 83) 50.001%,rgb(200, 45, 88) 50.001%, rgb(200, 45, 88) 66.668%,rgb(225, 53, 93) 66.668%, rgb(225, 53, 93) 83.335%,rgb(250, 61, 98) 83.335%, rgb(250, 61, 98) 100.002%); */
    background-image: linear-gradient(135deg, rgba(173, 211, 227, 0.45) 0%, rgba(173, 211, 227, 0.45) 14.286%,rgba(154, 202, 217, 0.45) 14.286%, rgba(154, 202, 217, 0.45) 28.572%,rgba(135, 192, 208, 0.45) 28.572%, rgba(135, 192, 208, 0.45) 42.858%,rgba(116, 183, 198, 0.45) 42.858%, rgba(116, 183, 198, 0.45) 57.144%,rgba(97, 174, 188, 0.45) 57.144%, rgba(97, 174, 188, 0.45) 71.43%,rgba(78, 164, 179, 0.45) 71.43%, rgba(78, 164, 179, 0.45) 85.716%,rgba(59, 155, 169, 0.45) 85.716%, rgba(59, 155, 169, 0.45) 100.002%),linear-gradient(45deg, rgb(182, 134, 222) 0%, rgb(182, 134, 222) 14.286%,rgb(168, 120, 221) 14.286%, rgb(168, 120, 221) 28.572%,rgb(154, 106, 220) 28.572%, rgb(154, 106, 220) 42.858%,rgb(141, 93, 220) 42.858%, rgb(141, 93, 220) 57.144%,rgb(127, 79, 219) 57.144%, rgb(127, 79, 219) 71.43%,rgb(113, 65, 218) 71.43%, rgb(113, 65, 218) 85.716%,rgb(99, 51, 217) 85.716%, rgb(99, 51, 217) 100.002%);
    background-size: contain;
    /* background-image: repeating-linear-gradient(90deg, rgba(127, 91, 213,0.5) 0px, rgba(127, 91, 213,0.5) 40px,transparent 40px, transparent 80px),repeating-linear-gradient(0deg, rgba(127, 91, 213,0.5) 0px, rgba(127, 91, 213,0.5) 40px,transparent 40px, transparent 80px),linear-gradient(90deg, hsl(289,93%,77%),hsl(289,93%,77%)); */
    background-position: center center;
}
.ion{
    vertical-align: middle;
    font-size: xx-large;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
::-webkit-scrollbar {
    width: 6px;
    height:6px;
  }
  ::-webkit-scrollbar-track {
  border-radius: 10px;
}
  body::-webkit-scrollbar-track {
      background-color: #6c7ebb;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb {
    
    /* background-color: rgb(82, 92, 172); */
    background-color: blueviolet;
    border-radius: 10px;
  }
  .loader{
      position: fixed;
      height:100vh;
      width:100vw;
      z-index: 10;
      background-color: white;
  }
  .loader.fadeOut{
      animation:fadeloader  0.3s linear forwards; 
  }
  @keyframes fadeloader{
      from{
          opacity: 1;
      }
      to{
          opacity: 0;
      }
  }
  .loader .circle{
      position: absolute;
      bottom:50%;
      left:50%;
      transform: translate(-50%,50%);
      z-index: 11;
      height:100px;
      width:100px;
      border-radius: 50%;
      background-color: blueviolet;
      animation: bounce 0.6s linear alternate infinite;
  }
  .loader .circle.two{
      background-color: rgba(137, 43, 226, 0.3);
      animation-delay:0.6s ;
  }
  @keyframes bounce{
      from{
          width:0px;
          height:0px;
          opacity: 0;
      }
      to{
          width:100px;
          height:100px;
          opacity: 1;
      }
  }
.main{
    width:100%;
    height:95vh;
    padding-top: 5vh;
    display: grid;
    grid-template-columns: 5vw 78px 1fr 5vw;
}
.header{
    grid-column: 2/span 1;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.header nav{
    background-color: whitesmoke;
    width: max-content;
    height:410px;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    border-radius: 3px;

}
.header nav li{
    padding:0px 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    height:100%;
    width:100%;
}
.header nav li p{
    font-size: 12px;
    margin-top: 8px;
}
.header nav li:not(:last-child)::after{
    content: '';
    position: absolute;
    bottom: 0px;
    display: block;
    height:1px;
    width:100%;
    background-color: rgba(0,0,0,0.1);
}
.header nav li:hover, .header nav li.active{
    background-color: rgba(139, 139, 139, 0.05);
    /* color:rgba(2,95,190,1); */
    color:blueviolet;
}
.content{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1.5fr;
    grid-column: 3/span 1;
    margin-left: 10px;
}
.container{
    position: relative;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    z-index: 1;
}
.container::before{
    content:'';
    display: block;
    height:calc(100% - 40px);
    top: 20px;
    z-index: -2;
    position: absolute;
    right:0;
    width:10px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.15);
}
.container::after{
    content: '';
    display: block;
    position: absolute;
    height:100%;
    width:100%;
    background-color: rgba(2,95,190,0.15);
    top:-20px;
    left:-20px;
    border-radius: 5px;
    z-index: -3;
}
.container .image{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 55%;
    min-height: 300px;
    background-color: #626262;
    background-image: url("../assets/img/profilepic.jpg");
    z-index: -1;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    border-radius: 4px 4px 0 0;
}
.container .image:before, .container .image:after {
    content: '';
    position: absolute;
    left: -25%;
    bottom: -198px;
    width: 700px;
    height: 200px;
    background: #ffffff;
    transform: rotate(12deg);
}
.container .image:after,.container .image:before {
    left: -25%;
    bottom: -63%;
    width: 100%;
    height: 70%;
}
.container .image:after {
    left: auto;
    right: -25%;
    transform: rotate(-12deg);
}
.container .container--div{
    height:45%;
    position: relative;
    background-color: white;
    border-radius: 0 0 5px 5px;
}
.container .conatiner--contents{
    padding:0 50px;
    height:max-content;
    margin-top: -1px;
}
.container h2{
    font-size: 34px;
    color: #323232;
    font-weight: 200;
    padding-top: 20px;
}
.container .txt-type{
    position: relative;
    height:max-content;
    font-size: 1.5rem;
    color:blueviolet;
}
.container .txt-type::after{
    content:'';
    display: inline-flex;
    height:1.2rem;
    position: relative;
    bottom:-2px;
    width:2px;
    background-color: blueviolet;
    animation: blink 0.5s linear infinite alternate;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.container .socials{
    margin-top: 20px;
    height:max-content;
}
.container .socials a{
    display: inline-block;
    vertical-align: middle;
}
.container a{
    text-decoration: none;
    color:#323232;
    margin: 3px;
    font-size: 1rem;
}
.container a:hover{
    color:blueviolet;
}
.container .buttons{
    width:100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left:0;
    align-items: center;
    justify-content: space-between;
}
.container .buttons::before{
    content:'';
    position: absolute;
    top:0;
    display: block;
    width:100%;
    height:2px;
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}
.container .buttons a{
    width:100%;
    padding: 20px 0;
    position: relative;
}
.container .buttons a:first-child::before{
    content:'';
    position: absolute;
    top:-2px;
    right:0;
    display: block;
    width:2px;
    height:100%;  
    background: radial-gradient(ellipse at top, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}
.wrapper{
    position: relative;
    width:100%;
    height:100%;
    z-index: 0;
}
.wrapper .card{
    position: absolute;
    width:100%;
    opacity: 0;
    margin-top: 20px;
    border-radius: 5px;
    z-index: 1;
    height:calc(100% - 40px);
    transform: translateX(-70%);
    background-color: white;
    visibility: hidden;
}
.wrapper .card > div{
    /* margin: 20px 0; */
    height:calc(100%);
    width:100%;
    overflow: auto;
}
.wrapper .card > div > div{
    /* min-height:100%; */
    width:100%;
    background-color: white;
}
.wrapper .card::before,.wrapper .card::after{
    content:'';
    position: absolute;
    left:0;
    width:calc(100% - 20px);
    height:20px;
    background-color: white;
    z-index: 1;
}
.wrapper .card::before{
    top:0;
}
.wrapper .card::after{
    bottom:0;
}
.card.fadeIn{
    animation: fadein 0.5s linear forwards;
}
.blog--image{
    margin:30px;
    background-image: url("../assets/img/comingsoon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height:60vh;
}

@keyframes fadein {
    from {
      visibility: hidden;
      opacity: 0;
      transform: translateX(-70%);
    }
  
    to {
        visibility: visible;
      opacity: 1;
      transform: translateX(0%);
    }
  }
.card.fadeOut{
    animation: fadeout 0.5s linear forwards;
}
@keyframes fadeout {
    0%{
        visibility: visible;
      opacity: 1;
      transform: translateX(0%);
    }
    50%{
        opacity: 0;
    }
    100% {
        visibility: hidden;
        transform: translateX(-70%);
    }
  }

.border-line-h{
    position: relative;
    padding:20px;
}
.border-line-h .progress{
    margin-top: 12px;
    height:5px;
    background-color: #dddddd;
    width:100%;
}
.border-line-h .progress .percentage{
    position: relative;
    top:0;
    height: 100%;
    background-color: blueviolet;
}
.border-line-h .spans{
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.border-line-h .spans span{
    height:15px;
    width:15px;
    border-radius: 50%;
    background-color: #dddddd;
}
.border-line-h .spans span.dot{
    background-color: blueviolet;
}

@media screen and (max-width: 1100px) {
    .main{
        grid-template-columns: 10vw 78px 1fr 10vw;
    }
    .content{
        grid-template-columns: 1fr;
    }
    .header{
        position: fixed;
        left:10vw;
    }
    .header nav li:hover{
        background-color: transparent;
        /* color:rgba(2,95,190,1); */
        color:black;
    }
    .header nav li.active{
        background-color: rgba(139, 139, 139, 0.05);
        /* color:rgba(2,95,190,1); */
        color:blueviolet;
    }
    .container{
        height:max-content;
    }
    .container .container--div{
        height:max-content;
    }
    .container .buttons{
        position: relative;
       padding-top: 30px;
    }
    .container .buttons::before{
        top:30px;
    }

    .wrapper{
        position: relative;
    }
    .wrapper .card{
        position: relative;
        padding-left: 0;
        visibility: visible;
        opacity: 1;
        width:100%;
        margin-top: 5vh;
        height:max-content;
        transform: translateX(0);
    }
    .card.fadeIn{
        animation: none;
    }
    .card.fadeOut{
        animation: none;
    }
    .wrapper .card > div{
        /* padding: 20px; */
    }
    .blog--image{
        margin-top: 0;
        height:50vh;
    }
}
@media screen and (max-width: 600px) {
    .main{
        grid-template-columns: 5vw 1fr 5vw;
        grid-template-rows: 1fr;
        padding-top: 0;
    }
    /* .container{
        min-height:650px;
    } */
    .container .conatiner--contents{
        padding: 0 20px;
    }
    .header{
        grid-column: span 3;
        left:0;
        top:0;
        width:100%;
        margin-top: 0;
        z-index: 2;
        box-shadow: 0 2px 10px rgba(128, 128, 128, 0.5);
    }
    .header nav{
        flex-direction: row;
        width:100%;
        height: max-content;
    }
    .header nav li{
        padding:20px 0px;
    }
    .content{
        grid-column: 2/span 1;
        margin-top: 76px;
        margin-left: 0;
    }
}

@media screen and (max-width: 350px){
    /* .container{
        height: 700px;
    } */
    .container .buttons{
        flex-direction: column;
    }
    .container .buttons a{
        padding: 10px 0;
    }
    .container .buttons a:first-child::before{
        bottom:0;
        top:100%;
        left:0;
        width:100%;
        height:2px;
        background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
    }
}